.form {
    box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.23);
    margin: 20px auto;
    width: 40%;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
  }


  
  .form h2 {
    align-self: center;
    /* color: #1dbf73; */
    
    margin-bottom: 0px;
  }

  .form-input{
    padding:10px;
  }
  
  .form-input label {
    display: block;
    margin-bottom: 1px;
    font-weight: 900;
  }
  
  .form-input input {
    display: block;
    width: 100%;
    height: 25px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    transition: 0.2s all ease;
    margin: 10px 0;
  }

 
  

  .form p:nth-last-child(1) {
    align-self: center;
    font-size: 16px;
    /* color: #1dbf73; */
  }

  .green-bg{
    background-color: #1dbf73;
    color: #fff;
  }

  .green-bg:hover{
    background-color: #25a368;
    color: #fff;
  }

  .form-input{
    position:relative;
  }

  .password-toggle{
    position:absolute;
    border:none;
    top:36px;
    right:10px;
  }

  .login-signup-link:hover{
    color: orange;
  }

  
  @media (width < 768px){
    .form{
      width:90%;
    }
  }