.product-listing-page{
    display: flex;
    padding:10px;
    margin-top: 20px;
}


.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:1rem;
    /* padding:20px; */
    width: 78%;
}


@media (width <768px){
    .products-container{
        width: 100%;
    }
}