





.cat-heading{
    text-align: center;
}



.cat-cards{
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.cat-unit{
    width:200px;
    position: relative;
    cursor: pointer;
}

.cat-unit img{
    /* border-radius: 50%; */
    border-radius:5px;
    height: 250px;
    object-fit: contain;
    width: 250px;
}

.cat-unit img:hover{
    scale: 1.2;
}