
.cat-container{
    margin: 150px 0;
}




.cat-heading{
    text-align: center;
    letter-spacing: 3px;
}



.cat-cards{
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.cat-unit{
    cursor: pointer;
}

.cat-unit img{
    /* border-radius: 50%; */
    border-radius:10px;
    /* height: 250px; */
    object-fit: contain;
    width: 250px;
}

.cat-unit h4{
    text-align: center;
}

.cat-unit img:hover{
    scale: 1.2;
}

.cat-name{
    margin-top: 20px;
}