
.cat-container{
    margin: 150px 0;
}




.cat-heading{
    text-align: center;
    letter-spacing: 5px;
    font-size: 1.2rem;
    padding: 30px;
}



.cat-cards{
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.cat-unit{
    cursor: pointer;
}

.cat-unit img{
    border-radius:10px;
    object-fit: contain;
    width: 250px;
    transition: all 0.3s ease-in-out;
}

.cat-unit h4{
    text-align: center;
}

.cat-unit img:hover{
    scale: 1.2;
}

.cat-name{
    margin-top: 20px;
}