.checkout-address-list{
    background-color: #fff;
    display: flex;
    padding:12px;
    margin: 10px;
    gap:1rem;
    border-radius: 9px;
}

.select-address-btn{
    border: none;
    color: black;
    border-radius: 20px;
    width:80px;
    font-family: Poppins;
    width: fit-content;
    letter-spacing: 1px;
}

.select-address-btn:hover{
    background-color: black;
    color: #fff;
}

