.cart{
    display: flex;
    justify-content: space-around;
    padding:10px;   
    flex-wrap: wrap;
}

.cart-heading{
    text-align: center;
    margin:10px auto;
}


.cart-items{ 
    background: #f6f9fc;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width:65%;
    padding: 50px 0;
    height:auto;
    margin:10px;
    border-radius: 20px;
}

.empty-cart-items{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
    width: 100%;
    padding:20px;
}

.empty-cart-items button{
    max-width: 20%;
    align-self: center;
}

.cart-product{
    background-color: #fff;
    display:flex;
    width:90%;
    padding:1rem;
    justify-content: space-between;
    margin:10px;
    border-radius: 5px;
}

.cart-details{
    justify-self: flex-start;
}

.cart-details h4{
    font-size:0.8rem;
}

.cart-inc-dec{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
}

.img{
    display:flex;
    gap:1rem;
}
.img img{
    width:100px;
}

.cart-total{
    margin:10px;
    width:28%;
}

/* .cart-heart i{
 color:#ededed
}

/* .card-heart i:hover{
    color:white;    
} */ 

.cart-hearted{
    background-color: #1dbf73;
    color: #fff;
}

.cart-heart{
    background-color: #fff;
}

.empty-cart-animation{
    width: 150px;
    margin: auto;
}


@media (width < 768px){
    .cart-total{
        width:100%;
        margin:20px;
    }

    .cart-product{
        display: flex;
        flex-direction: column;
    }

    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cart-items{
        width:100%;
    }

    .cart-details h4{
        font-size:1rem;
        text-align: center;
    }
    .empty-cart-items button{
        max-width: 100%;
        align-self: center;
    }
}