.cart{
    display: flex;
}



.cart-items{ 
    background: #f6f9fc;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:78%;
    padding: 50px 0;
    height:auto;
    margin:10px;
}

.cart-product{
    background-color: #fff;
    display:flex;
    width:90%;
    padding:1rem;
    justify-content: space-between;
    margin:10px;
    border-radius: 5px;
}

.cart-details{
    justify-self: flex-start;
}

.cart-inc-dec{
    display:flex;
    align-items: center;
    justify-content: center;
}

.img{
    display:flex;
    gap:1rem;
}
.img img{
    width:100px;
}

.cart-total{
    margin:10px;
    width:30%;
    background-color: #ededed;
}

/* .cart-heart i{
 color:#ededed
}

/* .card-heart i:hover{
    color:white;    
} */ 