.cart{
    display: flex;
    /* flex-wrap: wrap; */
}

.cart-heading{
    text-align: center;
    margin:10px auto;
}


.cart-items{ 
    background: #f6f9fc;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:70%;
    padding: 50px 0;
    height:auto;
    margin:10px;
    border-radius: 20px;
}

.empty-cart-items{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}

.empty-cart-items button{
    max-width: 20%;
    align-self: center;
}

.cart-product{
    background-color: #fff;
    display:flex;
    width:90%;
    padding:1rem;
    justify-content: space-between;
    margin:10px;
    border-radius: 5px;
}

.cart-details{
    justify-self: flex-start;
}

.cart-inc-dec{
    display:flex;
    align-items: center;
    justify-content: center;
}

.img{
    display:flex;
    gap:1rem;
}
.img img{
    width:100px;
}

.cart-total{
    margin:10px;
    width:28%;
}

/* .cart-heart i{
 color:#ededed
}

/* .card-heart i:hover{
    color:white;    
} */ 


