

.home-container{
    margin-top: 3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 50px 150px;
    /* position: relative; */

}

.home-cta{
    font-size: larger;
    margin-top: 180px;
    margin-left: -100px;
   
   
}

.banner-img{
    object-fit: contain;
}

.banner-img img{
    width:500px;
}



.home-btn{
    padding: 1rem;
    background-color: #fff;
    /* background-color: #1dbf73; */
    font-family: Poppins;
    margin-top: 40px;
    margin-left: 5px;   
    border: solid 2px #1dbf73;
    border-radius: 10px;
    color: #1dbf73;
    cursor: pointer;
}



/* 
.category-container{
    padding:50px;
    height:400px;
    margin: 100px 0;
    margin-bottom:200px ;
}

.cat-heading{
    text-align: center;
    text-transform: upp ercase;
    font-size: 26px;
    letter-spacing:1.2px;
}

.home-categories{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
}

.cat-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
}

.cat-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cat-unit h4{
margin-top: 20px;    
}

.cat-display:hover{
    scale: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
} */

/* Footer */

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: #fdfae3; */
    background-color: rgb(253, 248, 248);
    padding: 50px;
    margin-top: 100px;
}

.foot{
    margin-bottom: 20px;
}

.footer-bar{
    font-size: 15px;
    padding: 8px;
    text-align: center;
    background-color: #272626;
    color: #fff;
}

.brand-footer{
    margin-bottom: 10px;
}