/* .home-container{
    background-color: #ededed;
    height: 400px;
    padding:100px;
    position: relative;
    display: flex;
}

.home-cta{
    position: relative;
    top:100px;

}

.home-btn{
    padding:10px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    margin-top: 20px;
}

.home-btn:hover{
    scale: 1.1;
    padding:10px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    margin-top: 20px;
} */

/* /// */

.home-container{
    margin-top: 3px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
    position: relative;

}

.home-cta{
    font-size: larger;
    width:60%;
    position: absolute;
    bottom: 4rem;
    left:4rem;
}

.banner-img{
    /* position: absolute; */
    right:3rem;
}

.banner-img img{
    width:500px;
    margin-right: -150px;
}

/* .home-btn{
    margin-top: 40px;
    margin-left: 5px;
    padding: 1rem;
    font-weight: 500;
  background-color: #1dbf73;
  border: solid 1px #1dbf73;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;

} */

.home-btn{
    padding: 1rem;
    background-color: #fff;
    /* background-color: #1dbf73; */
    font-family: Poppins;
    margin-top: 40px;
    margin-left: 5px;   
    border: solid 2px #1dbf73;
    border-radius: 10px;
    color: #1dbf73;
    cursor: pointer;
}




.category-container{
    padding:50px;
    height:400px;
    margin: 100px 0;
    margin-bottom:200px ;
}

.cat-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing:1.2px;
}

.home-categories{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
}

.cat-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
}

.cat-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cat-unit h4{
margin-top: 20px;    
}

.cat-display:hover{
    scale: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-around;
    height: 220px;
    background-color: #fdfae3;
    background-color: rgb(253, 248, 248);
    padding: 50px;
    margin-top: 100px;
}

.foot{
    margin-bottom: 20px;
}

.footer-bar{
    font-size: 15px;
    padding: 8px;
    text-align: center;
    background-color: #272626;
    color: #fff;
}

.brand-footer{
    margin-bottom: 10px;
}