
/* Banner Area */

.home-container{
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 100px;
}

.home-cta{
    font-size: larger;
    margin-top: 100px;
    margin-left: -50px;
    letter-spacing: 4px;
    padding: 1rem;
}

.cta-main{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 5px;

    color: red;
}

.cta-rem{
    font-size: 2rem;
}

.banner-img{
    object-fit: contain;
}

.banner-img img{
    width:500px;
}


.home-btn{
    padding: 1rem;
    background-color: #fff;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 5px;   
    border: solid 2px red;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-btn:hover{
    background-color: red;
    color: white;
}


/* Footer */

.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* background-color: #fdfae3; */
    background-color: rgb(253, 248, 248);
    padding: 50px;
    margin-top: 100px;
}

.foot{
    margin-bottom: 20px;
}

.footer-bar{
    font-size: 15px;
    padding: 8px;
    text-align: center;
    background-color: #272626;
    color: #fff;
}

.brand-footer{
    margin-bottom: 10px;
}

.footer h3{
    font-size: 0.8rem;
    letter-spacing: 1.7px;
    margin-bottom: 10px;
}

.footer-animation{
    width:5px;
}


@media (width < 768px){

    .home-container{
        padding: 50px;
    }

    .home-container img{
        width:100%;
    }
}