.home-container{
    background-color: #ededed;
    height: 400px;
    padding:100px;
    position: relative;
}

.home-cta{
    position: relative;
    top:100px;

}

.home-btn{
    padding:10px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    margin-top: 20px;
}

.home-btn:hover{
    scale: 1.1;
    padding:10px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    margin-top: 20px;
}

.category-container{
    padding:50px;
    height:400px;
    margin: 100px 0;
    padding: 50px;
}

.cat-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing:1.2px;
}

.home-categories{
    display: flex;
    justify-content: space-evenly;
    padding:50px;
}

.cat-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
}

.cat-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cat-unit h4{
margin-top: 20px;    
}

.cat-display:hover{
    scale: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 50%;
    background-color: #ededed;
    padding: 50px;
}

/* Footer */

.footer{
    display: flex;
    justify-content: space-around;
    height: 220px;
    background-color: #ededed;
    padding: 50px;
    margin-top: 100px;
}

.foot{
    margin-bottom: 20px;
}

.footer-bar{
    padding: 5px;
    text-align: center;
    background-color: darkgrey;
}