.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14rem;
  min-width:280px;
  margin: 10px;
  /* border: solid 1px black; */
  border-radius: 10px;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 5px;
}

.product-card:hover {
  transform: scale(1.04);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.product-card img {
  object-fit: contain;
  width: 100%;

  /* width: 280px; */
  padding: 10px;
}

.card-title {
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px;
}

.card-best {
  position: absolute;
  top: 45%;
  left: 0;
  /* background-color: #20aa20;    */
  background-color: #1dbf73;
  opacity: 0.9;
  color: white;
  font-size: 0.7rem;
  padding: 0 0.4rem;
}

.card-ratings {
  /* background-color: #20aa20; */
  background-color: #1dbf73;
  margin: 10px;
  width: 1rem;
  padding: 1px 20px;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;

  /* padding:0.2rem;
    font-size: 0.8rem;
    color:white;
    position: absolute;
    right:2%;
    top:60%; */
}

.card-rate {
  font-size: 0.8rem;
}

.card-heart {
  position: absolute;
  top: 6%;
  right: 6%;
  color: gray;
  opacity: 0.7;
  border-radius: 50%;
}

.wishlist-circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #f3f5f9;
  margin-left: 15px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.card-heart:hover {
  color: red;
}

.card-price {
  margin: 10px;
}

.strike {
  text-decoration: line-through;
}

.card-btn {
  padding: 0.5rem;
  background-color: #fff;
  /* background-color: #1dbf73; */
  margin: 10px;
  border: solid 1px #1dbf73;
  border-radius: 10px;
  color: #1dbf73;
  cursor: pointer;
}

.card-btn:hover {
  background-color: #1dbf73;
  color: #fff;
}
