.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width:30%;
    margin:10px;
    border: solid 1px black;
}

.product-card img{
    object-fit: cover;
    width: 280px;
    padding: 10px;
}