.cart-total-area{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    background-color: #fff;
    box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding:20px;
    min-width: 300px;
}

.cart-total-area hr{
    border-top: 1px solid #1dbf73;

}

.cart-total-area h2{
    text-align: center;
    margin-bottom: 5px;
}

.total-price ,.total-discount, .delivery, .cart-total-price{

    display: flex;
    justify-content: space-between;
}

.cart-checkout-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-savings{
    color:#087542;
    text-align: center;
}