.checkout-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem;
}

.checkout-address {
  background: #f6f9fc;
  width: 50%;
  padding: 2rem;
  height: auto;
  margin: 10px;
  border-radius: 20px;
}

.checkout-details {
  margin: 10px;
  width: 40%;
}

@media (width < 768px) {
  .checkout-address {
    width: 100%;
  }

  .checkout-details {
    width: 100%;
  }
}
