/* .form-address{
    margin:auto;
    position: fixed;
} */

.a-heading{
    margin-top:10px;
}
.a-input{
    padding:0.4rem;
    width: 100%;
}

.a-input input{
    width:100%;
    padding:0.3rem;
}

.form-address{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #ededed;
    border-radius: 20px;
    padding:1.5rem;
    height: 75vh;
    width: 50vh;
    opacity: 0.9;

}

.xmark{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
    width: 40px;
    height: 40px;

    line-height: 40px;
    background: #f3f5f9;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
