.header{
    height: 4.4rem;
    background-color: white;
    align-items: center;
    padding: 20px 0;
    margin:auto;
    box-shadow: 1px 2px 3px 0px rgba(120,120,120,0.4);
}

.container{
}

/* Brand Bar */

.brand-bar{
    width: 20%;
    height: 30px;
}

/* Search Bar */

.search-bar{
    width: 60%;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 50px;
    align-items: center;

}

.search-bar i{
    width: 5%;
    text-align: center;
    opacity: 0.6;
    font-size: 20px;
    padding: 0 15px;
}

.search-bar input{
    width: 90%;
    padding: 10px;
    border:none;
}

::placeholder{
    font-size: 15px;
  }


/* Nav Icons */

/* .nav-icons{
    display: flex;
    justify-content: space-around;
    gap:15px;
} */

.nav-icon{
    position: relative;
}

.nav-icon span{
    position: absolute;
    top:-10px;
    right:0px;
    width:20px;
    height:20px;
    border-radius:50%;
    text-align: center;
    background-color: orange;
    font-size: 13px;
    color: #fff;
}

/* .nav-icon  i{
    width:5%;
    text-align: center;
    font-size: 20px;
    opacity: 0.5;
    padding: 15px 20px;
} */

.nav-icon{
    margin: auto;
}


/* .icon-circle{
    border-radius: 50%;
    background-color: #fff;
    padding:0.3rem;
    font-size: 20px;
} */