.sidebar{
    position: sticky;
    top:30px;
    background-color: #f6f9fc;
    /* background-color: #fbfbca; */
    /* background-color: #ffeeb3; */



    /* box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.1); */
    padding:20px;
    display: flex;
    flex-direction: column;
    width:20%;
    margin:10px;
    height:90vh;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 15px;
    /* border: solid 1px orange; */
}

.sidebar:hover{
        /* box-shadow: 1px 2px 1px 1px rgba(0,0,0,0.1); */
        box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.1);

}



.vertical-flex{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    margin:10px 0;
}

.input-price{
    width:100%;
}

.range-values{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width:100%;
}


   