.breadcrumb{
    text-align: center;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.img-container{
    width:400px;
}

.detail-container{
    padding:50px;
}

.single-product-container{
        display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:1rem;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 3px rgba(0,0,0,0.2);
}

.single-product-container img{
    width:400px;
}



.details{
    /* padding:20px; */
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.details p {
    font-size: 0.8rem;
}

.desc{
    font-size: 0.8rem;
}

button {
    padding: 0.5rem;
    background-color: #fff;
    /* background-color: #1dbf73; */
    margin: 10px;
    border: solid 1px #1dbf73;
    border-radius: 10px;
    color: #1dbf73;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1dbf73;
    color: #fff;
  }

