.breadcrumb{
    text-align: center;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}


/* Main Container */
.detail-container{
    padding:30px;
}


.single-product-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
    border-radius: 20px;
    box-shadow: 1px 2px 12px 3px rgba(0,0,0,0.2);
    height:max-content;
}

.single-product-container img{
    width: 100%;
    border-radius: 20px;
}


/* Image Container */

.img-container{
    width:400px;
}


.details{
    /* padding:20px; */
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: 60%;
    width: 60%;
}

.details .card-price{
    font-size: 1rem;
    margin-left: 1px;
}

.details .product-details-ratings{
    font-size:0.9rem;
    color: rgb(41, 41, 41);
}

.details .card-price .rupee-strike{
    color:#808080;
}

.details .product-details-ratings i{
    color:rgb(235, 201, 13) ;
}

.details p {
    font-size: 0.8rem;
    color:#808080;
}

.desc{
    font-size: 0.8rem;
}

.buttons{
    display: flex;
    gap:1rem;
}

button {
    padding: 0.5rem;
    background-color: #fff;
    /* background-color: #1dbf73; */
    margin: 7px 0px;
    border: solid 1px #1dbf73;
    border-radius: 10px;
    color: #1dbf73;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1dbf73;
    color: #fff;
  }

  .impact-btn{
    padding: 0.5rem;
    background-color: #fff;
    font-family: Poppins;
    font-weight: 700;
    border: solid 2px #1dbf73;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.impact-btn:hover{
    background-color: #1dbf73;
    color: white;
}

@media (width < 768px){
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}